$primary: #274472;
$secondary: #c3e0e5;
$accent1: #41729f;
$accent2: #5885af;
$accent3: #ff9483;
$accent5: #ffc757;
$light: #fefefe;
$dark: #232323;
$transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
