---
const heroImg = "/heroImg.jpeg";
---

<header>
  <div class="container">
    <section class="text">
      <div>
        <h1>New Hope<br /><span>Caregivers</span></h1>
        <p>
          Empowering independence, enriching lives, home health care that goes
          the extra mile.
        </p>
      </div>
    </section>
    <section class="image">
      <div>
        <img src={heroImg} alt="" />
      </div>
    </section>
  </div>
</header>

<style lang="scss">
  header {
    padding-top: 78px;
    max-width: 100vw;
    display: grid;
    place-items: center;

    // BG Gradient
    background: -moz-radial-gradient(
      farthest-corner at 130px 150px,
      rgba(254, 254, 254, 1) 1%,
      rgba(195, 224, 229, 1) 30%,
      rgba(88, 133, 175, 1) 71%,
      rgba(65, 114, 159, 1) 80%,
      rgba(39, 68, 114, 1) 100%
    );
    background: -webkit-radial-gradient(
      farthest-corner at 130px 150px,
      rgba(254, 254, 254, 1) 1%,
      rgba(195, 224, 229, 1) 30%,
      rgba(88, 133, 175, 1) 71%,
      rgba(65, 114, 159, 1) 80%,
      rgba(39, 68, 114, 1) 100%
    );
    background: radial-gradient(
      farthest-corner at 130px 150px,
      rgba(254, 254, 254, 1) 1%,
      rgba(195, 224, 229, 1) 30%,
      rgba(88, 133, 175, 1) 71%,
      rgba(65, 114, 159, 1) 80%,
      rgba(39, 68, 114, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefefe",endColorstr="#274472",GradientType=1);

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1.25rem;
      padding-top: 1rem;
      overflow: hidden;

      .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -2.75rem;

        @media screen and (max-width: 363.64px) {
          margin-bottom: -3rem;
        }
        @media screen and (max-width: 345px) {
          margin-bottom: -2rem;
        }

        div {
          text-align: left;
          color: var(--primary);

          h1 {
            margin-bottom: 1rem;
            font-size: 2.5rem;
            line-height: 0.8;

            span {
              font-size: 2rem;
            }
          }

          p {
            display: block;
            width: 100%;
            max-width: 40ch;
          }
        }
      }

      .image {
        flex-basis: 1;

        div {
          aspect-ratio: 1/1;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--light);
          padding: 0.5rem;
          overflow: hidden;
          transform: translate(16%, 20%);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
            transform: translate(1%, 3%);
          }
        }
      }

      // .image {
      //   width: 100%;
      //   height: 100%;
      //   display: grid;
      //   place-items: center;

      //   div {
      //     aspect-ratio: 1 / 1;
      //     width: 100%;
      //     height: 100%;
      //     display: grid;
      //     place-items: center;
      //     border-radius: 50%;
      //     padding: 0.3rem;
      //     background-color: var(--light);
      //     transform: translate(15%, 25%);

      //     img {
      //       max-width: 100%;
      //       height: 100%;
      //       border-radius: 100%;
      //       // aspect-ratio: 1 / 1;
      //       object-fit: cover;
      //       object-position: center;
      //       transform: translate(1%, 3%);
      //     }
      //   }
      // }
    }
  }

  @media screen and (min-width: 992px) {
    header {
      .container {
        .image {
          img {
          }
        }

        .text {
          div {
            h1 {
              span {
              }
            }
            p {
            }
          }
        }
      }
    }
  }
</style>

<!-- NOTE: -->
<!-- <header>
  <div class="container">
    <section class="image">
      
      <img src={heroImg} alt="" />
    </section>
    <section class="text">
      <div>
        <h1>New Hope<br /><span>Caregivers</span></h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
          laudantium obcaecati? Delectus exercitationem sit expedita.
        </p>
      </div>
    </section>
  </div>
</header>

<style lang="scss">
  header {
    padding-top: 7rem;
    width: 100vw;
    display: grid;
    place-items: center;

    .container {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
      padding: 0 2rem;

      .image {
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;

        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          object-position: top;
        }

        // div {
        //   height: 100%;
        //   width: 100%;
        //   background-color: var(--accent2);
        //   background: url("../../public/heroImg.jpeg") center center/cover;
        // }
      }

      .text {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
          text-align: center;

          h1 {
            margin-bottom: 1rem;
            font-size: 2.5rem;
            line-height: 0.8;

            span {
              font-size: 2rem;
            }
          }

          p {
            display: block;
            width: 100%;
            max-width: 40ch;
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    header {
      .container {
        .image {
          img {
          }
        }

        .text {
          div {
            h1 {
              span {
              }
            }
            p {
            }
          }
        }
      }
    }
  }
</style> -->
